<div class="grid lg:grid-cols-3 gap-8 md:grid-cols-2 sm:grid-cols-1">
  <app-product
    img="https://picsum.photos/640/640?r=25"
    title="Telefono 1"
    [price]="350000"
    (addToCart)="fromChild($event)"
  />
  <app-product
    img="https://picsum.photos/640/640?r=24"
    title="Telefono 2"
    [price]="350000"
    (addToCart)="fromChild($event)"
  />
  <app-product
    img="https://picsum.photos/640/640?r=23"
    title="Telefono 3"
    [price]="350000"
    (addToCart)="fromChild($event)"
  />
  <app-product
    img="https://picsum.photos/640/640?r=22"
    title="Telefono 4"
    [price]="350000"
    (addToCart)="fromChild($event)"
  />
  <app-product
    img="https://picsum.photos/640/640?r=21"
    title="Telefono 5"
    [price]="350000"
    (addToCart)="fromChild($event)"
  />
</div>
